.header {
  display: flex;
  width: calc(100% - 2rem);
  min-height: $header-height;
  height: 7rem; /*IE flex alignment*/
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: $over-content;
  background-color: $color-light;
  &__logo {
    min-width: 15rem;
    margin: 0;
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
  }
}
