.header {
  width: calc(100% - 2rem);
  position: fixed;
  top: 1rem;
  left: 1rem;
  border: 2px solid $color-black;
  background-color: $color-white;
  &__wrapper {
    @include wrapper;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: $header-height;
  }
  &__logo {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
  }
}
