.header {
  width: calc(100% - 2rem);
  position: fixed;
  top: 0;
  left: 1rem;
  z-index: $over-content;
  background-color: $color-light;
  &__wrapper {
    display: flex;
    min-height: $header-height;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
  }
  &__logo {
    min-width: 15rem;
    margin: 0;
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
  }
}
