.hero {
  width: calc(70% - 1rem);
  height: 59rem;
  margin-right: 1rem;
  position: relative;
  z-index: $below-content;
  border: 2px solid $color-black;
  overflow: hidden;
  @include portrait {
    @include resp-img((590/870) * 100%);
    height: auto;
    width: 100%;
    margin-right: 0;
    order: 1;
  }
  &__image {
    height: 100%;
    object-fit: cover;
  }
  &__title {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-align: center;
  }
}
