.hero {
  float: left;
  width: calc(70% - 1rem);
  margin-right: 1rem;
  z-index: $below-content;
  overflow: hidden;
  @include portrait {
    width: 100%;
    margin-right: 0;
  }
  &__image-wrap {
    @include portrait {
      @include resp-img((260/560) * 100%);
      height: auto;
    }
    height: 26rem;
    margin-bottom: 1rem;
    position: relative;
    background-color: $color-light;
  }
  &__image {
    display: block;
    height: 100%;
    object-fit: cover;
  }
  &__title {
    width: 100%;
    margin: 0;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
  }
}
