.mobile-menu {
  display: none;
  &__checkbox {
    display: none;
    @include portrait {
      &:checked {
        ~ .nav {
          transform: translateX(100%);
        }
      }
    }
  }
  @include portrait {
    display: block;
    margin-left: auto;
    font-size: 1.4rem;
    &:hover {
      cursor: pointer;
    }
  }
}
