.nav {
  @include portrait {
    height: 100%;
    width: 85%;
    position: fixed;
    top: 0;
    left: -100%;
    background: $color-white;
    transition: 0.35s transform ease-in-out;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    @include portrait {
      flex-direction: column;
      padding: 2rem;
      text-align: right;
    }
  }
  &__list-el {
    margin-left: 3.5rem;
    padding: 0.5rem 0;
    list-style-type: none;
    text-transform: uppercase;
    @include portrait {
      margin-left: 0;
    }
  }
  &__link {
    color: $color-black;
    text-decoration: none;
    transition: 0.25s opacity ease-in-out;
    &:hover {
      opacity: 0.7;
    }
  }
}
