.picture-tile {
  width: calc(50% - 1rem);
  border: 0.2rem solid $color-black;
  @include portrait {
    width: 100%;
  }
  &__image {
    // @include resp-img((115/335) * 100%);
    height: 8rem;
    overflow: hidden;
    @include portrait {
      height: 7.5rem;
    }
    img {
      object-fit: cover;
      height: 100%;
    }
  }
  &__heading {
    min-height: 8rem;
    padding: 0.5rem;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    @include portrait {
      display: flex;
      align-items: center;
      margin-top: 1rem;
    }
  }
}
