* {
  box-sizing: border-box;
}
html {
  font-size: vw(10);
  @include portrait {
    font-size: 13px;
  }
  @include mobile-lg {
    font-size: 10px;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 1rem;
  font-family: $base-font;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  overflow-x: hidden;
}
.main {
  margin-bottom: 1rem;
  padding-top: calc(#{$header-height} + 1rem);
}
img {
  width: 100%;
}
