.section {
  width: 100%;
  position: relative;
  &--images {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    z-index: $below-content;
    @include portrait {
      width: 50%;
    }
    .picture-tile {
      @include portrait {
        margin-right: 1rem;
        &:nth-of-type(n + 2) {
          margin-top: 1rem;
        }
      }
      &:nth-of-type(n + 3) {
        margin-top: 1rem;
      }
      &:nth-child(odd) {
        margin-right: 1rem;
      }
    }
  }
}
