//colors
$color-dark: #2d3236;
$color-dimmed: #9fa3a7;
$color-light: #efefef;
$color-white: #ffffff;
$color-black: #000000;

//layout
$header-height: 7rem;
$wrapper-width: 136.6rem;
$wrapper-padding: 1rem;
$vw-base: 800;

//font styles
$base-font: "Poppins", sans-serif;
$base-font-weight: 400;
$base-font-size: 1.6rem;

//z-index
$over-all: 99999999;
$over-content: 100;
$below-content: -100;

//bp
// $screen-mobile-sm: 320px;
// $screen-mobile: 375px;
// $screen-mobile-lg: 480px;
// $screen-phablet: 600px;
$screen-portrait: 768px;
// $screen-tablet: 1024px;
// $screen-laptop: 1366px;
// $screen-laptop-lg: 1680px;
// $screen-xxl: 1920px;
